.features {
  padding: 80px 0;
  background-color: #343434;
}
.features .content {
  border: 1px solid white;
  overflow: hidden;
  border-radius: 5px;
  padding: 30px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}
.features .content::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: width 0.4s ease-in-out;
  background: linear-gradient(to left, #485e93 0%, #7185b4 100%);
}
.features .content:hover {
  border: 1px solid #7185b4;
}
.features .content:hover::before {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

.features .content .icon {
  font-size: 45px;
  color: #7185b4;
}
.features .content:hover .icon {
  color: white;
}
.features .content .title {
  font-size: 24px;
  margin: 21px 0 12px 0;
  font-weight: 700;
  line-height: 28px;
}
.features .content .desc {
  font-weight: 400;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}
