* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.MuiDialog-paper {
  overflow: hidden !important;
}

.swiper-button-next,
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev,
.swiper-button-prev.swiper-button-disabled {
  color: #ececec !important;
  font-size: 14px !important;
}
:root {
  scroll-behavior: smooth;
}
